# JetBrains project files

/.gitignore
/.idea

# NativeScript application

# JetBrains project files
frontend/.idea

# NPM
frontend/node_modules

# NativeScript application
frontend/hooks
frontend/platforms

frontend/package-lock.json
frontend/README.md
